# 严格检查包的引擎兼容性，当依赖的 package.json 中指定的 node 或 npm 版本不符合要求时，安装将失败
engine-strict = true
# 强制将所有依赖提升到 node_modules 根目录，模拟 npm 或 yarn 的 node_modules 结构
shamefully-hoist=true
# 禁用对等依赖的严格检查，允许安装不满足对等依赖要求的包
strict-peer-dependencies=true
# 使用淘宝 NPM 镜像作为默认注册表
registry = https://registry.npmmirror.com/